#id-acountList{
	position:relative;
	top:90px;
	


}


#id-list{
	font-size:14pt;
	color:#ffffff;
	
}
#id-list dt{
	font-weight:bold;
	

}
#id-list dd{
	width:430px;
	border: dashed 1px  black;
	padding-top:10px;
	display:block;	
	height:30px;
	
}



#userNameEdit{
	position:relative;
	border:dashed 1px black ;
	padding:10px;
	width:385px;
	left:40px;
	padding-left: 35px;
	padding-top:18px;	

}
#id-examleDOB{
	position:relative;
	font-size:10pt;
	text-indent:60px;


}
.cl-informationEdit{
	position:absolute;
	left:200px;
	opacity:0.3;
	filter:Alpha(opacity=30); /* IE8 and earlier */
	
}




.cl-editWord{
	position:absolute;
	left:420px;
	color:	#A9A9A9;
	 cursor:pointer;
}